In [1]:
import pandas as pd

C:\Users\wanne\AppData\Local\Temp\ipykernel_8124\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("../csv_files/AspenProp_Combined_dataset.csv")
df

          smiles       Mw      PC   RKTZRA      SG       TB       TC     ZC
0              C  16.0428  45.990  0.28927  0.3000 -161.490  -82.586  0.286
1             CC  30.0696  48.720  0.28097  0.3564  -88.600   32.170  0.279
2            CCC  44.0965  42.480  0.27657  0.5077  -42.040   96.680  0.276
3           CCCC  58.1234  37.960  0.27292  0.5844   -0.500  151.970  0.274
4          CCCCC  72.1503  33.700  0.26833  0.6310   36.070  196.550  0.270
..           ...      ...     ...      ...     ...      ...      ...    ...
733  CC\C(C)=C/C  84.1613  32.902  0.26499  0.6980   67.700  241.850  0.264
734     CC(C)C=C  70.1344  35.300  0.27410  0.6325   20.055  179.550  0.286
735     CC=C(C)C  70.1344  34.200  0.25902  0.6676   38.555  196.850  0.256
736     CCC(C)=C  70.1344  34.470  0.26276  0.6557   31.155  191.850  0.260
737      CC(C)=C  56.1075  40.000  0.27256  0.6004   -6.900  144.750  0.275

[738 rows x 8 columns]

In [3]:
df2 = pd.read_csv("../csv_files/Combined_dens_Dataset.csv")
df2

                                                  smiles  temp     density
0                                                    C=C    25    0.001153
1                                                    C=C    50    0.001063
2                                                    C=C    75    0.000986
3                                                    C=C   100    0.000919
4                                                    C=C   125    0.000861
...                                                  ...   ...         ...
13293  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   400  648.460177
13294  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   425  614.306773
13295  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   450  577.509165
13296  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   475  537.011224
13297  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   500   10.614285

[13298 rows x 3 columns]

In [4]:
df2['TB']= 0
df2

                                                  smiles  temp     density  TB
0                                                    C=C    25    0.001153   0
1                                                    C=C    50    0.001063   0
2                                                    C=C    75    0.000986   0
3                                                    C=C   100    0.000919   0
4                                                    C=C   125    0.000861   0
...                                                  ...   ...         ...  ..
13293  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   400  648.460177   0
13294  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   425  614.306773   0
13295  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   450  577.509165   0
13296  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   475  537.011224   0
13297  CC(CCC(CCCCC(CCC(C)CC(C)(C)C)CCC(C)CC(C)(C)C)C...   500   10.614285   0

[13298 rows x 4 columns]

In [5]:
for i in range(df2.shape[0]):
    smile = df2.iloc[i]['smiles']
    try:
        index = df[df['smiles'] == smile].index[0]
        Tb = df.iloc[index]['TB']
    except:
        Tb = 0
    
    
    df2.at[i,'TB'] = Tb

C:\Users\wanne\AppData\Local\Temp\ipykernel_8124\3162413820.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-103.74' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.at[i,'TB'] = Tb

In [6]:
df2 = df2[df2.TB != 0]

In [7]:
df2.to_csv("../csv_files/Combined_dens_Dataset_WithTB.csv", index=False)